*{
    box-sizing: border-box;
}

#navbar{
    background-color: rgb(230, 230, 230);
}

.navbar-brand{
    font-size: 2em;
}

#stats-table{
    margin-top: 20px;
    margin-bottom: 30px;
}

.popover-body{
    height: 100px;
    overflow-y: auto;
    white-space: pre-wrap;
}

.btn{
    padding: 0px 10px 0px 10px;
}
.btn:hover{
    background-color: lightgray;
}

.nav-tool-icon{
     display: block;
     margin: auto;
     width: 20px;
}

#nav-tool-statistics:hover{
    background-color: moccasin;
    cursor: pointer;
}

.filter-output{
    position: relative;
    margin-bottom: 10px;
}

.status-sign{
    width: 15%;
    position: absolute;
    left: 20px;
    top: -5px;
}

.image{
    width: 100%;
}

.image-path{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.final-index{
    background-color: lightgrey;
    border-radius: 5px;
    padding: 5px;
}
/*div containing final-index*/
#main-content > section > div:nth-child(4){
    margin-top: 5px;
    margin-bottom: 15px;
}